.splash-container {
  width: 100%;
  background: #0d65c0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  position: relative;
}

.splash {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.splash-text {
  max-width: 300px;
}
.bytes {
  background: #dcf3ec;
  color: black;
}
.heart {
  background: #e5c0c0;
  color: black;
}
.wrapper {
  max-width: 650px;
  margin: 0 auto;
  width: 100%;
}
.svg {
  width: 300px;
}

.carousel {
  margin-top: 1rem;
}

.input {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.top-articles {
  padding: 1rem 0;
}
.timeline-chart {
  padding: 1rem 0;
}

.wiki-input {
  max-width: 200px;
}
.year-input {
  max-width: 200px;
}
.map-hidden {
  visibility: hidden;
}
.editors {
  background: #f9f9f0;
}
.editor-stats-container {
  display: flex;
  gap: 50px;
  justify-content: center;
  background: #fbeebf;
  padding: 20px 16px;
}
.editor-stats-container > div {
  justify-content: center;
}
.editor-stats dl {
  width: 150px;
}
.editor-stats dt {
  font-weight: bold;
}
.editor-stats {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.input-wrapper {
  padding: 1rem 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.map {
  position: relative;
  width: 100%;
  height: 300px;
}

.map-hidden {
  visibility: hidden;
}

.bytes-stats {
  display: flex;
  gap: 50px;
  justify-content: center;
  background: #dcf3ec;
}
.donate-today {
  background-color: #f8e6e6;
}
